.results-component-container {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 80vh;
    background: #d6d6d6;
    border: 2px solid #000000;
    border-radius: 1rem;
    margin: auto;
}

.results-component-top-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

.results-component-graph {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 90%;
    overflow-y: auto;
}



.results-graph-btn-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
    margin: auto;
    width: 30vw;
    height: 5rem;
    background-color: #ffffff;
    border-radius: 1rem;
    border: 2px solid black;
}

.rad-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 5rem;
}

.results-component-answers {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 50%;
    height: 100%;
    overflow-y: auto;
    margin: 1rem;
    border: 1px solid #000000;
}

.selected-results-component {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    background-color: white;
    padding: 20px;
    border: 2px solid #000000;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 80%; /* Adjust width as needed */
    max-width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.selected-results-component-text {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
}

.results-component-answer-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5rem;
    border-bottom: 1px solid #000000;
}



.results-component-answer-text {
    font-size: 2rem;
    text-align: left;
    width: 80%;
    margin: 1rem;
}

.results-component-answer-number {
    text-align: center;
    margin-right: 1rem;
    font-size: 2rem;
    width: 20%;
    border-left: 1px solid #000000;
}