.spider-graph-container {
    width: 45%;
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.spider-chart{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}

